{% extends 'gallery/base.html' %}

{% block content %}
    
    <center>
        <title>Adding an image to folder</title>
        <div class="container shadow p-4 mb-5 bg-body rounded mt-5">
            <h1>Add an image to folder: {{ folder.name }}</h1>
            {% if submitted %}
                <h2>Your image has been added!</h2>
                <br>
                <div>
                    <a href="{% url 'gallery:addimagefolder' folder.id %}">
                        <button type="button" class="btn btn-success">Upload Another Image</button>
                    </a>
                </div>
                <br>
                <a href="{% url 'gallery:myfolder' folder.id %}">
                    <button type="button" class="btn btn-secondary" onclick="history.back()">Go Back</button>
                </a>

            {% else %}
                <form method = POST enctype="multipart/form-data" style="width: 50%;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-info">
                </form>
                
                <br>
                <div>
                    <button type="button" class="btn btn-secondary" onclick="history.back()">Go Back</button>
                </div>
            {% endif %}
            
        </div>
    </center>
    <br>

   
    
{% endblock %}